<nav class="navbar navbar-expand-md navbar-dark" style="font-size: 20px">
  <a class="navbar-brand" href="/" style="font-size: 24px">CyberPulse</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
    style="font-size: 24px"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav" style="font-size: 24px">
      <li class="nav-item" style="margin-right: 20px">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item" style="margin-right: 20px">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item" style="margin-right: 20px">
        <a class="nav-link" href="/security">Security</a>
      </li>
      <li class="nav-item" style="margin-right: 20px">
        <a class="nav-link" href="/education">Education Hub</a>
      </li>
    </ul>
    <ul class="navbar-nav" style="font-size: 24px">
      <li class="nav-item" style="margin-right: 20px">
        <a class="nav-link" href="/auth/login">Login</a>
      </li>
      <li class="nav-item" style="margin-right: 20px">
        <a class="nav-link" href="/rate">Rate Us</a>
      </li>
    </ul>
  </div>
</nav>
